body {
  background-image: url("fantasy-2069978_1280.png");
}

h1 {
  color: red;
  background-image: url("fantasy-2069978_1280.png");
}

.Intro {
  color: purple;font-size: 1em;
}

#red {
  color: green;
}

#big-font {
  font-size: 40px;
}

#bold-font {
  font-weight: bold;
}

.back-black {
  background-color: #000;
}

.small-font {
  font-size: 10px;
}
